@import "../../../../styles/variables/consts.scss";

@mixin suppliesTableInput {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2px;
  border: 1px solid rgba(199, 199, 199, 0.3);
  background: #fff;
  padding: 4px 6px 4px 8px;

  color: $gray5;
  font-family: $font-family-main;
  font-size: $font-size-m;
  font-weight: $font-weight-m;

  &:focus {
    border: 1px solid #5b5fc7;
  }
}

.card {
  max-width: 453px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.03);
  padding: 12px 16px 24px 16px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35.14px;
  margin-bottom: 12px;
}
.headerTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}
.titleText {
  color: $gray5;
  font-family: $font-family-main;
  font-size: $font-size-xl;
  font-weight: $font-weight-m;
}
.isCalculate {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkboxContainer {
  position: relative;
  width: 16px;
  height: 16px;
  padding: 6px;
  border-radius: 4px;
  background: $primary-3;
  &:active {
    box-shadow: 0 0 3px rgb(91, 95, 199, 0.4);
  }
  cursor: default;
}
.checkedCheckbox {
  background-color: transparent;
  border: 1px solid $primary-3;
  width: 16px;
  height: 16px;
}
.isCalculateCheckbox {
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  z-index: 1;
  cursor: default;
  opacity: 0;
}
.isCalculateText {
  color: $gray4;
  font-family: $font-family-main;
  font-size: $font-size-m;
}
.checkedIcon {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.titleChangeInput {
  border-radius: 2px;
  border: 1px solid $primary-3;
  background: #fff;
  width: 230px;
  padding: 4px 6px 4px 8px;

  color: $gray5;
  font-family: $font-family-main;
  font-size: $font-size-l;
}
.confirmTitleButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2px;
  border: 1px solid $primary-3;
  background: $primary-3;

  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background: rgb(91, 95, 199, 0.85);
  }
}

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.tableHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 421px;
}
.tableHeaderItem {
  flex: 0 0 135px;
  color: $gray3;
  font-family: $font-family-main;
  font-size: $font-size-mini-m;
}
.tableHeaderType {
}
.tableHeaderValue {
  text-align: center;
}
.tableHeaderUnit {
  text-align: center;
}
.tableItem {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 421px;

  & > * {
    flex: 0 0 135px;
    max-width: 135px;
  }
}
.tableType {
  color: $gray4;
  font-family: $font-family-main;
  font-size: $font-size-m;
}
.tableValue {
  @include suppliesTableInput;
}
.tableUnit {
  @include suppliesTableInput;
}
@media (hover: hover) {
  .tableValue {
    padding-left: 13px;
  }
  .tableUnit {
    padding-left: 13px;
  }
  .tableUnit {
    padding-left: 7px;
  }
  .tableUnit {
    padding-left: 7px;
  }
}

:global {
  .ant-select-selector {
    box-shadow: unset !important;
    border-color: $primary-3 !important;
  }
  .ant-select-item-option-selected {
    background-color: $primary-5 !important;
  }
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: $primary-3 !important;
    box-shadow: unset !important;
  }
}

.numberSwitcherContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.numberSwitcherTitle {
  border-radius: 2px;
  border: 1px solid rgba(199, 199, 199, 0.3);
  background: #fff;

  display: flex;
  padding: 4px 6px 4px 8px;
  justify-content: center;
  align-items: center;
  flex: 0 0 194.5px;

  color: $gray5;
  font-family: $font-family-main;
  font-size: $font-size-m;
  font-weight: $font-weight-m;
}
.selectorContainer {
  position: relative;
  flex: 0 0 194.5px;
}
.numberSwitcherSelector {
  border-radius: 2px;
  border: 1px solid $primary-3;
  background: #fff;
  padding: 4px 8px;
  width: 100%;
  appearance: none;
}
.numberSwitcherSelectorOption {
  border-radius: 2px;
  background: #fff;

  height: 40px;
  padding: 12px 16px;
}

.cardStatusContainer {
  display: flex;
  align-items: center;
  gap: 39px;
  border-radius: 0px 0px 6px 6px;
  padding: 16px 0 0 0;
}
.cardStatusTitle {
  color: $gray3;
  font-family: $font-family-main;
  font-size: $font-size-m;
}
.cardStatusList {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cardStatusItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cardStatusLabel {
  color: $gray5;
  font-family: $font-family-main;
  font-size: $font-size-m;
  font-weight: $font-weight-m;
  &:not(:last-child) {
    margin-right: 16px;
  }
  &:last-child {
    margin-right: 0;
  }
  :global {
    .ant-radio-checked .ant-radio-inner {
      border: 2px solid $gray2;
    }
    .ant-radio-checked::after {
      border: none;
      animation: unset;
      display: none;
    }
    .ant-radio-input:focus + .ant-radio-inner {
      box-shadow: unset;
      border-color: $gray2;
    }
    .ant-radio-checked .ant-radio-inner:after {
      background-color: $primary-3;
    }
    .ant-radio:hover .ant-radio-inner {
      border-color: $gray2;
    }
  }
}
